/* Shared style */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

.primary-button {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  padding: 15px;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}
.paragrap-style {
  color: rgb(114, 114, 114);
  font-weight: 400;
}
.box{
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 15px;
}
.box-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(19, 19, 19);
  margin-bottom: 0;
}

/* header style  */
header {
  background: rgba(255, 144, 14, 0.1);
  margin: 0 auto;
}
.header-div {
  margin: 0 120px;
}
nav,
nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > h3 {
  font-size: 1.5rem;
}
nav > ul > li {
  margin-left: 30px;
  list-style: none;
}
nav ul > li > a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 1.1rem;
  font-weight: 500;
}
nav ul > li > a:hover {
  color: blue;
}
.header-title-container {
  text-align: center;
}
.header-title {
  margin: 0 150px;
}
.header-title > h1 {
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
}

.header-image {
  width: 100%;
  margin-top: 30px;
}

/* main section style  */
main {
  margin: 0 120px;
}
.quick-list-container {
  margin-top: 50px;
}
.quick-list-content-title {
  color: rgb(114, 114, 114);
  font-size: 3rem;
  font-weight: 700;
}
.ofOur {
  color: rgb(19, 19, 19);
}
.Features {
  color: rgb(255, 144, 14);
}
.quick-list-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.quick-list-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* features style */
.features-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;

}
.features-title-container {
  height: auto;
  display: flex;
  align-items: center;
}
.feactures-line-div {
  height: 106px;
  width: 5px;
  background-color: rgb(255, 144, 14);
  margin-right: 15px;
}
.features-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(19, 19, 19);
}
.features-image > img{
  width: 100%;
  height: 100%;
}

/* some fact  */
.some-fact-container{
  margin-top: 50px;
}
.some-fact-title{
  margin-bottom: 0;
}
.some-fact-box-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.some-fact-box{
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
  
}
.some-fact-box > h2{
  margin-top: 0;
  margin-bottom: 0
}

/* footer section */
.footer-section{
  margin: 80px;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
  padding: 10px;

}


/* Media Query style */
/* for mobile device  */
@media screen and (max-width: 576px) {
  nav,
  .quick-list-container,
  .quick-list-container,
  .features-container,
  .some-fact-box-container {
    flex-direction: column;
  }
  .quick-list-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  main,
  .header-div,
  .header-title {
    margin: 0 20px;
  }
}
